@using CreditCalculator.Models
@model CreditCalculator.Models.Credit

@{
    ViewBag.Title = "Платежи";
}

<h2>Платежи</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table>
        <thead>
            <tr>
                <th>
                    № платежа
                </th>
                <th>
                    Дата платежа
                </th>
                <th>
                    Размер платежа по телу
                </th>
                <th>
                    Размер платежа по проценту
                </th>
                <th>
                    Остаток основного долга
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var payment in Model.PaymentsList)
            {
            <tr>
                <td>
                    @payment.Number
                </td>
                <td>
                    @payment.Date
                </td>
                <td>
                    @payment.Body
                </td>
                <td>
                    @payment.Percent
                </td>
                <td>
                    @payment.RemainingDebt
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

