@model CreditCalculator.Models.Credit

@{
    ViewBag.Title = "Платежи";
}

<h2>Платежи</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table">
        <thead>
            <tr>
                <th>
                    № платежа
                </th>
                <th>
                    Дата платежа
                </th>
                <th>
                    Размер платежа по телу
                </th>
                <th>
                    Размер платежа по проценту
                </th>
                <th>
                    Остаток основного долга
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var payment in Model.PaymentsList)
            {
                <tr>
                    <td>
                        @payment.Number
                    </td>
                    <td>
                        @payment.Date.ToShortDateString()
                    </td>
                    <td>
                        @decimal.Round(payment.Body, 2)
                    </td>
                    <td>
                        @decimal.Round(payment.Percent, 2)
                    </td>
                    <td>
                        @decimal.Round(payment.RemainingDebt, 2)
                    </td>
                </tr>
            }
            <tr>
                <td colspan="5">
                    <h4>Аннуитетный платеж: @decimal.Round(Model.PaymentsList[0].AnnuityPayment, 2)</h4>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <h4>Переплата: @decimal.Round(Model.Overpay, 2)</h4>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <h3>Всего выплат: @decimal.Round(Model.TotalPayment, 2)</h3>
                </td>
            </tr>
        </tbody>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

